# **Extracting and Converting .txt to .csv**

In [ ]:
from google.colab import files                                         #importing files in google colab
uploaded = files.upload()

Saving NIFTY_SEP.txt to NIFTY_SEP.txt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/nikhilbandi1/Finance-Club-Project/main/NIFTY_SEP.txt'); #impoting dataset

In [3]:
df['time'] = pd.to_datetime(df['time'])                                     # to convert string Date time into Python Date time object.
df

       Name      date                time  ...    Close*  Adj. close**  Volume\t
0     NIFTY  20200901 2021-05-13 09:08:00  ...  11464.30             0         0
1     NIFTY  20200901 2021-05-13 09:16:00  ...  11394.30             0         0
2     NIFTY  20200901 2021-05-13 09:17:00  ...  11402.80             0         0
3     NIFTY  20200901 2021-05-13 09:18:00  ...  11393.05             0         0
4     NIFTY  20200901 2021-05-13 09:19:00  ...  11380.80             0         0
...     ...       ...                 ...  ...       ...           ...       ...
8310  NIFTY  20200930 2021-05-13 15:28:00  ...  11223.00             0         0
8311  NIFTY  20200930 2021-05-13 15:29:00  ...  11223.10             0         0
8312  NIFTY  20200930 2021-05-13 15:30:00  ...  11226.30             0         0
8313  NIFTY  20200930 2021-05-13 15:31:00  ...  11226.50             0         0
8314  NIFTY  20200930 2021-05-13 15:35:00  ...  11247.55             0         0

[8315 rows x 9 columns]

# **Converting the Intraday Data to 30 min Timespan**

1.   Total 13 data for each day will be created.
2.   Total 22 business days are in our dataset. 
3.   So 22*13 =286 rows are there in Data Frame

In [4]:
df5 = pd.DataFrame()                     # df5 is the final data frame 
for i in range (0,30):                   # loop all over the month 
  present_date='2020090'+str(i+1)        # Condition if the date is greater or less than 10 sept    
  if(int(present_date)<202009010):
    present_date='2020090'+str(i+1)
  else:
    present_date='202009'+str(i+1)
                                         # present date is the string
  
  #print (int(present_date))
  if (int(present_date) in df.values) :       #if condition present date matches with the dates on which market opens

    df4 = pd.DataFrame()
    for j in range (9,16):                    # 9 to 16 for time 

      if (j<15):                              # if time is less than 15
        start_time1 = str(j)+':05'
        end_time1= str(j)+':35'
        mask = (df['time'] > start_time1) & (df['time'] <= end_time1) & (df['date']==int(present_date))       # taking all the values of the interval of 30 minutes for each case 
        df1 = df.loc[mask]
        start_time2=str(j)+':35'
        end_time2=str(j+1)+':05'
        mask = (df['time'] > start_time2) & (df['time'] <= end_time2)& (df['date']==int(present_date))    
        df2 = df.loc[mask]
        cols = ['Date','start_time','end_time','Open','High','Low','Close']                                   # creating new column in new data frame df3
        lst = []
        #print (df1)
        #print (df2)
    
        lst.append([int(present_date),start_time1,end_time1,df1['Open'].iloc[0],df1['High'].max(),df1['Low'].min(),df1['Close*'].iloc[-1]])
      
        lst.append([int(present_date),start_time2,end_time2,df2['Open'].iloc[0],df2['High'].max(),df2['Low'].min(),df2['Close*'].iloc[-1]])           
        df3 = pd.DataFrame(lst, columns=cols)
        df3
        #print(df3)
        df4 = df4.append(df3)                                                                                # appending df3 in df4 as loops run every time

    
      

       
      else:                                                                                                  # special case for 15:05 to 15:35 
        start_time1 = str(j)+':05'
        end_time1= str(j)+':35'
        mask = (df['time'] > start_time1) & (df['time'] <= end_time1) & (df['date']==int(present_date))
        df1 = df.loc[mask]
        cols = ['Date','start_time','end_time','Open','High','Low','Close']        
        lst = []
        #print (df1)
        #print (df2)
    
        lst.append([int(present_date),start_time1,end_time1,df1['Open'].iloc[0],df1['High'].max(),df1['Low'].min(),df1['Close*'].iloc[-1]])
        df3 = pd.DataFrame(lst, columns=cols)
        df3
        #print(df3)
        df4 = df4.append(df3)
  else:
    continue
      
  df5=df5.append(df4)                                                                                       # final data frame df5 which we need
 
df5

        Date start_time end_time      Open      High       Low     Close
0   20200901       9:05     9:35  11464.30  11510.00  11370.10  11496.65
1   20200901       9:35    10:05  11496.85  11507.30  11366.90  11405.80
0   20200901      10:05    10:35  11404.70  11452.95  11394.05  11436.65
1   20200901      10:35    11:05  11435.90  11464.90  11426.45  11447.50
0   20200901      11:05    11:35  11446.95  11457.55  11391.10  11421.25
..       ...        ...      ...       ...       ...       ...       ...
0   20200930      13:05    13:35  11274.35  11275.45  11241.80  11263.70
1   20200930      13:35    14:05  11264.55  11280.15  11252.55  11274.85
0   20200930      14:05    14:35  11274.65  11295.40  11267.15  11285.55
1   20200930      14:35    15:05  11286.30  11288.10  11247.05  11262.60
0   20200930      15:05    15:35  11263.10  11267.70  11221.50  11247.55

[286 rows x 7 columns]

# **Downloading the Final Dataframe**

In [5]:
from google.colab import files
df5.to_csv('Final_candlestick.csv',index=False)          #converting the final dataframe df5 to csv file
files.download('Final_candlestick.csv')                  # downloading the file as "Final_candlestick.csv"